@charset "UTF-8";
/* Цвет основного текста   #757575; */
/* Вторичный цвет текста  #212121; */
/* Акцент  #2196F3; */
/* Фон  #E5E5E5; */
/* Вторичный фон #F5F4FA; */
/*  Raleway 700 Roboto 400 500 700 bold 900 */
/* Цвет кнопок - вторичный #F5F4FA; */
:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-secondary-color: #212121;
  --accent-color: #2196F3;
  --white-color: #ffffff;
  --bac-secondary-color: #F5F4FA;
  --batton-primary-color: #2196F3;
  --batton-secondary-color: #F5F4FA;
}

body {
  background-color: var(--white-color);
  color: var(--text-primary-color);
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
}

@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Section */
.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

@media (max-width: 1199px) {
  .section--no-padding-top {
    padding: 0;
  }
}

.section--white {
  background-color: var(--bac-secondary-color);
}

.section__titel--display-none {
  display: none;
}

@media (min-width: 1200px) {
  .section__titel--display-none {
    display: block;
  }
}

/* Button */
.button {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--batton-secondary-color);
  color: var(--text-secondary-color);
  border: 0px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  text-align: center;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .button:active {
  background-color: var(--batton-primary-color);
  color: var(--white-color);
}

.button.primary {
  background-color: var(--batton-primary-color);
  color: var(--white-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover, .button.primary:focus, .button.primary:active {
  background-color: var(--batton-secondary-color);
  color: var(--batton-primary-color);
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active,
.button.current.secondary {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-toggel {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border: none;
}

.menu-toggel__icon {
  width: 40px;
  height: 40px;
}

/* Logo */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--blue {
  color: var(--accent-color);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .menu-toggel {
    display: none;
  }
}

.mob-site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-site-nav__item {
  position: relative;
}

.mob-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-site-nav__link {
  display: block;
  color: var(--text-secondary-color);
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-site-nav__link:hover, .mob-site-nav__link:focus {
  color: var(--accent-color);
}

.mob-site-nav__link.current {
  color: var(--accent-color);
}

/* mob-auth-nav */
.mob-auth-nav {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth-nav__link {
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-auth-nav__link:hover, .mob-auth-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mob-auth-nav__nomber {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-auth-nav__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-social-nav__item:not(:first-child) {
  padding-left: 10px;
}

.mob-social-nav__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ECECEC;
  background: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 1;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
  }
  .page-header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Site nav */
.site-nav {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item {
  position: relative;
}

@media (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-secondary-color);
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link.current::after {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* Auth-nav */
.auth-nav {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .auth-nav {
    display: list-item;
  }
}

@media (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .auth-nav__item:first-child {
    margin-right: 50px;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.auth-nav__icon {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0 10px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .auth-nav__icon {
    width: 16px;
    height: 16px;
  }
}

/* Hero */
.hero {
  padding: 118px 0;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/header-img@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/header-img@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  block-size: auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/header-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/header-img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/header-img@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/header-img@1x.jpg);
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/header-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/header-img@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desc/img-hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desc/img-hero.jpg);
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desc/img-hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desc/img-hero@2x.jpg);
  }
}

.hero__title {
  color: var(--white-color);
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Advantages */
@media (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    width: calc((100% - 60px) / 2);
  }
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    width: 270px;
  }
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__title {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 767px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  color: var(--text-primary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 0 30px 0;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.advantages__svg {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
}

/* What are we doing */
.doing {
  display: none;
}

@media (min-width: 1200px) {
  .doing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.doing__item:not(:last-child) {
  margin-right: 30px;
}

.doing__item {
  position: relative;
}

.doing__thumb {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.doing__titel {
  /* padding: 27px 0px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Team */
.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
}

.team__desc {
  padding: 30px 0;
  text-align: center;
}

.team__title {
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  color: var(--text-primary-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  -webkit-transition-property: fill, border-radius, background;
  transition-property: fill, border-radius, background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus, .social__link:active {
  border-radius: 100%;
  background: var(--batton-primary-color);
  fill: #FFFFFF;
}

.social__svg {
  width: 20px;
  height: 20px;
}

/* Company */
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.company__item {
  margin: 15px;
}

.company__link {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition-property: fill, border, border-radius, -webkit-box-sizing;
  transition-property: fill, border, border-radius, -webkit-box-sizing;
  transition-property: fill, border, box-sizing, border-radius;
  transition-property: fill, border, box-sizing, border-radius, -webkit-box-sizing;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company__link:active, .company__link:focus, .company__link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

/* Footer */
.footer {
  background-color: #2F303A;
  color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}

@media (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

/* Cont-footer */
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__container--mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer__container--mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/* footer-address */
.footer__address {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  .footer__address {
    margin-bottom: 60px;
    max-width: 232px;
  }
}

.footer__address--logo-white {
  color: var(--white-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
}

.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.address__link--white {
  color: var(--white-color);
}

.address__desc {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin: 8px auto;
}

/* Join */
.join {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .join {
    margin-top: 5px;
    margin-bottom: 60px;
    width: 206px;
  }
}

@media (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-top: 0;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.join__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__icon:not(:last-child) {
  margin-right: 10px;
}

.join__svg {
  width: 20px;
  height: 20px;
}

.join__link {
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: border-radius, background;
  transition-property: border-radius, background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus, .join__link:active {
  border-radius: 50%;
  background: var(--batton-primary-color);
}

/* Subscribe */
@media (min-width: 768px) {
  .subscribe {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    width: 570px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__email {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}

@media (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}

.subscribe__svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 20px auto auto auto;
}

@media (min-width: 1200px) {
  .sub {
    margin: auto;
  }
}

.sub:hover .subscribe__svg {
  fill: #2196F3;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 60px);
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}

@media (max-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal__icon {
  position: relative;
  margin-bottom: 12px;
}

.modal__icon:focus-within .modal-svg {
  fill: #2196F3;
}

.modal__icon:focus-within .modal-input {
  border-color: #2196F3;
}

.modal__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 11px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  position: relative;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-police {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 480px) {
  .modal-police {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-police__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-police__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  /* background-color: #FFFFFF; */
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: contain;
  -webkit-transition-property: background-color, border-box, border-color;
  transition-property: background-color, border-box, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-police__svg {
  position: absolute;
  width: 16px;
  height: 16px;
}

.modal-police__checkbox:checked ~ .modal-police__icon {
  background-color: #2196F3;
  background-origin: border-box;
  border-color: #2196F3;
}

.modal-police__link {
  color: #2196F3;
}

.mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.esc {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.esc:hover .ecs__svg {
  -webkit-transform: rotateZ(315deg);
          transform: rotateZ(315deg);
  fill: #2196F3;
}

.ecs__svg {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: transform, fill;
  transition-property: transform, fill, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */
/* Filter */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}

.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter .current {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

@media (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

/* Gallery */
.gallery__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .gallery__item {
    width: 100vw;
    margin: 15px;
  }
}

@media (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.gallery__desc {
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery__title {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__subtitle {
  color: var(--text-primary-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__img {
  overflow: hidden;
  position: relative;
}

.gallery__img::before {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery__img::before,
.gallery__link:focus .gallery__img::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.gallery__text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /* Если поставить падинг и бек, то верхние два селектора не нужны */
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* background: rgba(33, 150, 243, 0.9); */
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery__text,
.gallery__link:focus .gallery__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (min-width: 768px) {
  .gallery__text {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .gallery__text {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */