/* Footer */

.footer {
    background-color: #2F303A;
    color: var(--white-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

@media (min-width:1200px) {
    .footer {
        text-align: left;
    }
}


/* Cont-footer */

@media (min-width: 768px) {
    .footer__container--mod {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}

@media (min-width:1200px) {
    .footer__container--mod {
        display: flex;
    }
}


/* footer-address */

.footer__address {
    margin-bottom: 60px;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .footer__address {
        max-width: 232px;
    }
}

@media (min-width: 1200px) {
    .footer__address {
        margin-bottom: 0px;
    }
}

.address {
    margin-top: 20px;
    &__link--grey {
        color: rgba(255, 255, 255, 0.6);
    }
    &__link--white {
        color: var(--white-color);
    }
    &__desc {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
}


/* Join */

.join {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .join {
        width: 206px;
    }
}

@media (min-width: 1200px) {
    .join {
        margin-left: 70px;
        margin-bottom: 0;
    }
}

.join__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.join__social {
    display: flex;
    justify-content: center;
}

.join__icon:not(:last-child) {
    margin-right: 10px;
}

.join__svg {
    width: 20px;
    height: 20px;
}

.join__link {
    padding: 0;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition-property: border-radius, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
        border-radius: 50%;
        background: var(--batton-primary-color);
    }
}


/* Subscribe */

@media (min-width: 768px) {
    .subscribe {
        width: 450px;
    }
}

@media (min-width: 1200px) {
    .subscribe {
        margin-left: 93px;
        width: 570px;
    }
}

.subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 1200px) {
    .subscribe__form {
        display: flex;
    }
}

.subscribe__label {
    margin-right: 12px;
}

.subscribe__email {
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
}

@media (min-width: 1200px) {
    .subscribe__email {
        width: 358px;
    }
}

.subscribe__svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sub {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 20px auto auto auto;
}

@media (min-width:1200px) {
    .sub {
        margin: auto;
    }
}

.sub:hover .subscribe__svg {
    fill: #2196F3;
}