/* Logo */

.logo {
    display: block;
    padding: 16px 0;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    // .footer .logo:hover,
    // .footer .logo:focus {
    //     color: var(--accent-color);
    // }
}

@media (min-width: 1200px) {
    .logo {
        font-size: 26px;
    }
}

.logo--blue {
    color: var(--accent-color);
}

.footer__address--logo-white {
    color: var(--white-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address--logo-no-padding {
    padding: 0;
}